<?php
global $BASE_URL;

$config=array();

$config['displayErrorDetails'] = true;
$config['addContentLengthHeader'] = false;

$config["db"] = [
    'driver' => "mysql",
    'host' => "database",
    'database' => "databse",
    'username' => "user",
    'password' => "password",
    'charset' => "utf8",
    'collation' => "utf8_unicode_ci",
    'prefix' => ''
];